<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<p><%= link_to "Back to list", "/tasks" %></p>
<%= link_to "Update", edit_path %>
<%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
